{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit your Goal{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="body">Your Goal</label>
    <textarea name="body" id="body">{{ request.form['body'] or goal['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('goals.deleteGoal', id=goal['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}